
        
            <div class="card text-white mt-5 mb-4" style="max-width: 18rem;background-color: rgb(236, 167, 102)">
                <div class="card-header">Welcome</div>
                <div class="card-body">
                  <h5 class="card-title"><img src="https://www.confessme.xyz/assets/img/brand/logo.png"></h5>
                  <h4 class="card-text">Share Your secrets....</h4>
                </div>
              </div>
              <div class="card text-dark  mb-4" style="max-width: 18rem;background-color: rgb(92, 241, 192)">
                <div class="card-header">Contact Us</div>
                <div class="card-body">
                  <h5 class="card-title">info@confessme.com</h5>
                  <p class="card-text">www.confessme.com</p>
                </div>
              </div>
              <div class="card text-white  mb-3" style="max-width: 18rem; background-color: rgb(101, 112, 172)">
                <div class="card-header">Follow Us</div>
                <div class="card-body ml-4 mr-4 d-flex justify-content-between">
                  
                    <img src="https://img.icons8.com/color/48/000000/facebook.png"/>
                 <img src="https://img.icons8.com/color/48/000000/twitter-squared.png"/>
                    <img src="https://img.icons8.com/color/48/000000/instagram-new.png"/>
                  
                  
                </div>
              </div>
  
  