<div class="row  flex-column">
    <div class="menu1 " >
        Category
    </div>
    <div class="menu2 btn bg-primary">
        Dreams<img src="https://img.icons8.com/color/48/000000/thinking-bubble.png"/>
    </div>
    <div class="menu2 btn bg-danger">
        First Experience <img src="https://img.icons8.com/color/48/000000/medal2--v1.png"/>
    </div>
    <div class="menu2 btn  bg-info">
        Guilt <img src="https://img.icons8.com/fluent/48/000000/prison.png"/>
    </div>
    <div class="menu2 btn bg-success">
        Lie <img src="https://img.icons8.com/color/48/000000/sergeant-sgt.png"/>
    </div>
    <div class="menu2 btn  bg-warning">
        Pain <img src="https://img.icons8.com/cotton/48/000000/headache--v1.png"/>
    </div>
    <div class="menu2  btn bg-secondary">
        Random<img src="https://img.icons8.com/fluent/48/000000/ask-question.png"/>
    </div>
    <div class="menu2 btn bg-primary">
        Feeling Truth <img src="https://img.icons8.com/color/48/000000/lgbt-women.png"/>
    </div>
    <div class="menu2  btn bg-danger  " >
        Wild Experience<img src="https://img.icons8.com/color/48/000000/wolf.png"/>
    </div>
    <div class="menu2  bg-secondary">
       Other<img src="https://img.icons8.com/fluent/48/000000/money-transfer.png"/>
    </div>
    
    <router-outlet></router-outlet>
</div>
