

<div class="container-fluid">
  <div class="row flex-column justify-content-center align-items-center">
    
    <div
        class=" col-10  d-flex    mt-3 justify-content-center align-items-center" 
        
        *ngFor="let item of list">

        <div class="card " >
          <div class="card-header  text-light">
            {{ item.category}}
          </div>
          <div class="card-body">
            
            <p class="card-text">{{item.thoughts}}</p>
            <a href="/explore" class="btn ">Go somewhere</a>
          </div>
        </div>
     
       
      </div>
    </div>
  </div>
